h1 {
    color:rgb(224, 89, 13); 
    font-style: italic;
}h2 {
    color: blue;
}
.h3 {
        color: white;
        background-color: brown;
        font-weight: bold;
        border-radius: 1rem;
   
}

#content {
    margin: 3rem auto;
    margin-right: 9rem;
    width: 60%;
}


#title {
    margin-left: 3rem;
}
.info {
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
}
.info {
    color: brown;
    font-weight: bold;
}
.Afiyet {
    font-size: 2rem;
    float: right;
    margin-right: 15rem;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}
